others/
data/
data_process/shape_predictor_68_face_landmarks.dat
result/
result_all/
result_ours/
test/
weight/
eval_code/
pretrain_model/
clean_git_cache.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

